# ==========================================
# Java / Maven / Spring Boot
# ==========================================
target/
*.jar
*.war
*.ear
*.class
*.log

# ==========================================
# IntelliJ IDEA
# ==========================================
.idea/
*.iml
*.iws
out/
gen/

# ==========================================
# MacOS / Windows / OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Temp Files & Secrets
# ==========================================
# Если вдруг будешь использовать .env файлы для паролей:
*.env
.env.local

# Папка с временными документами (если бы она была в проекте)
temp_docs/

*:Zone.Identifier
